<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white sidebar" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
      aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/challenge']">
      <img src="./assets/img/brand/logo-pink.png" class="navbar-brand-img" alt="...">
    </a>
    <!-- User -->
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a href="javascript:void();" class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" style="height: 100%;" src="{{profile_pi}}">
            </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02 text-theme"></i>
            <span>My profile</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="javascript:void();" class="dropdown-item" (click)='logOut()'>
            <i class="fas fa-sign-out-alt text-theme"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['/challenge']">
              <img src="./assets/img/brand/logo-pink.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search"
            aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>
      <!-- Navigation -->
      <ul class="navbar-nav sidebar_nav">
        <!-- <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
          <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
            <i class="ni {{menuItem.icon}}"></i>
            {{menuItem.title}}
          </a>
        </li> -->
        <li class="nav-item">
          <a [routerLink]="['/journey-planner']" class="nav-link">
            <i class="fas fa-handshake text-theme"></i>
            Journey Planner
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/editor']" class="nav-link">
            <i class="fas fa-user-check text-theme"></i>
            Editor</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/journey-mentor']" class="nav-link">
            <i class="fas fa-street-view text-theme"></i>
            Journey Mentor</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/challenge']" class="nav-link">
            <i class="fas fa-tasks text-theme"></i>
            Worksheet
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/qa']" class="nav-link">
            <i class="fas fa-question text-theme"></i>
            Q & A
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/course']" class="nav-link">
            <i class="fas fa-graduation-cap text-theme"></i>
            Skill Factory
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3"
            aria-controls="collapseExample">
            <i class="fas fa-ribbon text-theme"></i>
            Badges
          </a>
          <div id="collapseExample" [ngbCollapse]="isCollapsed3">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a [routerLink]="['/badges/discovery-sheets']" class="nav-link">
                  <i class="fas fa-route text-theme"></i>
                  Discovery Sheets</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/badges/journey-readiness']" class="nav-link">
                  <i class="fas fa-route text-theme"></i>
                  
                  Journey Readiness
                </a>
              </li>
             
              <li class="nav-item">
                <a [routerLink]="['/badges/skill-factory']" class="nav-link">
                  <i class="fas fa-plane-departure text-theme"></i>
                  Skill Factory
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/badges/profile']" class="nav-link">
                  <i class="fas fa-atlas text-theme"></i>
                  Profile
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/badges/tuck-shop']" class="nav-link">
                  <i class="fas fa-school text-theme"></i>
                  Tuck Shop</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/badges/faq']" class="nav-link">
                  <i class="fas fa-spa text-theme"></i>
                  FAQ</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/badges/media-projects']" class="nav-link">
                  <i class="fas fa-spa text-theme"></i>
                  Media Projects
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/badges/feedback-form']" class="nav-link">
                  <i class="fas fa-spa text-theme"></i>
                  Feedback Forms</a>
              </li>
              
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/certificates']" class="nav-link">
            <i class="fas fa-certificate text-theme"></i>
            Certificates
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/tuckshow']" class="nav-link">
            <i class="fas fa-sticky-note text-theme"></i>
            Tuck Shop
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
            aria-controls="collapseExample">
            <i class="fas fa-user text-theme"></i>
            <span class="nav-link-text">User</span>
          </a>
          <div id="collapseExample" [ngbCollapse]="isCollapsed2">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a [routerLink]="['/student']" class="nav-link">
                  <i class="fas fa-user-graduate text-theme"></i>
                  Student</a>
              </li>

              <li class="nav-item">
                <a [routerLink]="['/teacher']" class="nav-link">
                  <i class="fas fa-chalkboard-teacher text-theme"></i>
                  Teacher</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/usereditor']" class="nav-link">
                  <i class="fas fa-chalkboard-teacher text-theme"></i>
                  Editor</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/journeymentor']" class="nav-link">
                  <i class="fas fa-chalkboard-teacher text-theme"></i>
                  Journey Mentor</a>
              </li>
              <li class="nav-item">
                <a href="javascript:void();" class="nav-link">
                  <i class="fas fa-user-shield text-theme"></i>
                  Admin</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isCollapsed1 = !isCollapsed1" [attr.aria-expanded]="!isCollapsed1"
            aria-controls="collapseExample">
            <i class="fas fa-database text-theme"></i>
            <span class="nav-link-text">Master Data</span>
          </a>
          <div id="collapseExample" [ngbCollapse]="isCollapsed1">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a [routerLink]="['/journey']" class="nav-link">
                  <i class="fas fa-route text-theme"></i>
                  Journeys</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/journey-readiness']" class="nav-link">
                  <i class="fas fa-route text-theme"></i>
                  Journey Readiness
                </a>
              </li>
              <!-- <li class="nav-item">
                <a [routerLink]="['/destination']" class="nav-link">
                  <i class="fas fa-location-arrow text-theme"></i>
                  Destination</a>
              </li> -->
              <li class="nav-item">
                <a [routerLink]="['/location']" class="nav-link">
                  <i class="fas fa-plane-departure text-theme"></i>
                  Location
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/categories']" class="nav-link">
                  <i class="fas fa-atlas text-theme"></i>
                  Journey Categories
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/school']" class="nav-link">
                  <i class="fas fa-school text-theme"></i>
                  School</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/knowledge-summary']" class="nav-link">
                  <i class="fas fa-spa text-theme"></i>
                  Knowledge Summary</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/media-projects']" class="nav-link">
                  <i class="fas fa-spa text-theme"></i>
                  Media Projects</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/discovery-sheet']" class="nav-link">
                  <i class="fas fa-spa text-theme"></i>
                  Discovery Sheet</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/feedback-form']" class="nav-link">
                  <i class="fas fa-spa text-theme"></i>
                  Feedback Form</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/faq']" class="nav-link">
                  <i class="fas fa-spa text-theme"></i>
                  Faqs</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/notifications']" class="nav-link">
            <i class="far fa-bell text-theme"></i>
            Notifications</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/settings']" class="nav-link">
            <i class="fas fa-cog text-theme"></i>
            Settings</a>
        </li>
      </ul>
      <!-- Divider -->
      <hr class="my-3">
    </div>
  </div>
</nav>